<template>
    <canvas id="purchases-chart"></canvas>    
</template>

<script>
    export default {
        mounted() {
            axios.get('/dashboard/purchases-chart')
            .then(response => {
                const data = response.data;
                this.render({
                    labels: data['labels'],
                    datasets: [
                        {
                            label: 'Kwota zakupu z rekomendacji, zł.',
                            fill: false,
                            data: data['purchases'],
                            backgroundColor: 'rgb(54, 162, 235)',
                            borderColor: 'rgb(54, 162, 235)',
                            borderWidth: 2
                        }
                    ]
                });
            })
        },
        methods: {
            render(data) {
                var ctx = document.getElementById("purchases-chart");
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        }
    }
</script>